@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: 'Honk';
  src: url('/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Domine';
  src: url('/fonts/Domine-Regular.ttf') format('truetype');
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-400: #00E4F5;
  --color-primary-500: #006269;
  --color-primary-600: #006D75;
  --color-secondary-400: #F5E400;
  --color-secondary-500: #F5A600;
  --color-secondary-600: #F57A00;

  /*Typografi */
  --font-display: 'Honk', monospace;
  --font-sans: 'Quicksand', sans-serif;
  --font-serif: 'Domine', serif;

}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  
}

@layer components{

}
@layer utilities{
  
}