---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
---
<MainLayout title="Titel">

  <div class="relative w-full overflow-hidden">
    <video
      class="absolute top-0 left-0 w-full h-full object-cover z-0"
      src="/baggrund.mp4"
      autoplay
      loop
      muted
      playsinline
    ></video>
    <div class="absolute inset-0 bg-black/30 z-0"></div>
    <main class="relative z-10 mx-auto p-4">
      <section class="flex flex-col items-center h-screen">
        <div class="flex flex-col items-center justify-center flex-1">
          <!-- <Heading htmlheading="h1" size="large" font="display">Toke Ellegaard</Heading> -->
          <h1 class="display uppercase text-primary-400 text-8xl font-black text-center">Toke Ellegaard</h1>
          <h2 class="text-primary-400 text-3xl font-semibold text-center">Visuel skaber på tværs af grafisk design og video</h2>
        </div>
        <Link href="#knap-section" class="mt--10">
          <img class="animate-bounce mb-12 size-20 hover:stroke-1 stroke-secondary-400" src="/public/pilned.svg" alt="">
        </Link>
      </section>
     
      <section class="w-full grid grid-cols-1 md:grid-cols-3 gap-8 items-start min-h-screen scroll-mt-10" id="knap-section">
        <!-- EVNER -->
        <details class="group rounded-tl-2xl rounded-br-2xl bg-primary-400 shadow-lg border-4 border-primary-500  hover:border-secondary-400 hover:border-4">
          <summary class="flex cursor-pointer items-center justify-between px-6 py-4 text-6xl font-bold uppercase text-secondary-400 display marker:hidden">
            <span>EVNER</span>
            <span class="transition-transform group-open:rotate-180 text-4xl">▾</span>
          </summary>
          <div class="overflow-hidden transition-all duration-300 px-4 py-6 text-black text-xl font-medium">
          <Text>
              <ul class="columns-2 list-disc pl-4 text-base">
                <li>Adobe Illustrator</li>
                <li>Adobe Premiere Pro</li>
                <li>Adobe After Effects</li>
                <li>Adobe Photoshop</li>
                <li>Adobe InDesign</li>
                <li>FileZilla</li>
                <li>Github</li>
                <li>Visual Studio Code</li>
                <li>Figma og FigJam</li>
              </ul>
          </Text>
          </div>
        </details>
  
        <!-- VIDEO -->
        <details class="group rounded-tl-2xl rounded-br-2xl bg-primary-500 shadow-lg border-4 border-primary-500 hover:border-secondary-400 hover:border-4">
          <summary class="flex cursor-pointer items-center justify-between px-6 py-4 text-6xl font-bold uppercase text-secondary-400 display marker:hidden">
            <span>VIDEO</span>
            <span class="transition-transform group-open:rotate-180 text-4xl">▾</span>
          </summary>
          <div class="overflow-hidden transition-all duration-300 px-8 py-6 text-black text-xl font-medium flex flex-col items-center">
           <video src="/will.mp4" autoplay
      loop></video>
    
            <Text>
              I min fritid er jeg begyndt at interessere mig for videoproduktion, og jeg har for nylig købt mit første kamera. Jeg er i gang med at lære hele processen – fra at filme og eksperimentere med forskellige vinkler, til at redigere og arbejde med color grading for at skabe et mere filmisk udtryk. Det er en kreativ proces, hvor jeg hele tiden bliver klogere og udvikler mine færdigheder.
            </Text>
          </div>
        </details>
  
        <!-- OM MIG -->
        <details class="group rounded-tl-2xl rounded-br-2xl bg-primary-700 shadow-lg border-4 border-primary-700  hover:border-secondary-400 hover:border-4">
          <summary class="flex cursor-pointer items-center justify-between px-6 py-4 text-6xl font-bold uppercase text-secondary-400 display marker:hidden">
            <span>OM MIG</span>
            <span class="transition-transform group-open:rotate-180 text-4xl">▾</span>
          </summary>
          <div class="overflow-hidden transition-all duration-300 px-8 py-6 text-black text-xl font-medium flex flex-col">
            <div class="flex flex-row gap-6">
              <div class="flex-1">
                <Text teksttype="brødtekst">
                  Jeg hedder Toke og er digital designer med passion for at skabe visuelle oplevelser, der balancerer mellem det rå og det raffinerede. Mit arbejde er inspireret af filmiske virkemidler og det miljø, jeg er en del af på Nørrebro, hvilket giver mit design kant, energi og autenticitet.
                  <br><br>
                  Jeg henter meget inspiration fra film som La Haine og Cidade de Deus, men jeg kigger også andre veje – bl.a. mod Bauhaus-designets stringente former og funktionelle æstetik. Det giver mig en visuel bredde, hvor jeg kan forene kontraster: råhed og struktur, spontanitet og præcision.
                  <br><br>
                  Udover grafisk design er jeg optaget af videoproduktion, som jeg bruger min fritid på. Jeg filmer, redigerer og eksperimenterer med teknikker fra både film og online medier – altid drevet af nysgerrighed og lysten til at udvikle mit visuelle sprog.
                </Text>
              </div>
              <img src="/mig.webp" alt="Portræt" class="rounded-lg w-40 h-auto object-cover self-start">
            </div>
          </div>
        </details>
      </section>
    </main>
  </div>
</MainLayout>