---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Titel">
	<main class="container mx-auto p-4">
		<p>Til <Link href="/komponentbibliotek">komponentbiblioteket</Link></p>
		<Image src={thumbsup} alt=""></Image>
	</main>
</MainLayout>