---
import '../styles/tailwind.css';
// Henter parametrene fra Astro.props
const { variant= "primary", size = "medium" } = Astro.props; 
 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const buttonStyling = "w-full py-16 min-w-sm rounded-tl-2xl rounded-br-2xl"; 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
"primary": "bg-primary-400 display uppercase text-secondary-400", /* border-primary-500 */
"secondary": "bg-primary-500",
"third": "bg-primary-700" /* border-secondary-500 */
};
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
"large": "text-6xl display uppercase text-secondary-600 font-bold",
"medium": "text-xl",
"small": "text-large"
};
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>