---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<header x-data="{ showmenu: false }" class="absolute w-screen top-0 bg-black/30 backdrop-blur-md z-50">
    <div id="navbar" class="container mx-auto p-4 flex flex-row justify-between items-center">
        <div id="logo" class="">
            <a href="#" class="font-display text-primary-500 text-4xl font-bold">TOKE ELLEGAARD</a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex text-primary-500  flex-row gap-4">
                <li class=""><a href="/" class={currentPath === "" ? "font-bold" : ""}>Forside</a></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
                <li class=""><a href="/komponentbibliotek/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>Komponentbibliotek</a></li>
            </ul>
        </nav>
        <button id="burgermenu" class="lg:hidden text-primary-500 " x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="border-t-2 border-b-2 text-primary-500  border-black">
            <li class="text-center py-2"><a href="/" class={currentPath === "" ? "font-bold " : ""}>Forside</a></li>
            <li class="text-center py-2"><a href="/komponentbibliotek/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>Komponentbibliotek</a></li>
        </ul>
    </nav>
</header>