---
// Henter parametrene fra Astro.props
const { teksttype="brødtekst", stylingclasses=""} = Astro.props; 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
"konsultativ": "text-sm text-italic",
"brødtekst": "text-base my-1",
};
---
<p class:list={[sizeClasses[teksttype], stylingclasses]}><slot /></p>